<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员面板 - 美食订餐</title>
</head>
<body>
  {{> navbar loginUser=loginUser}}

    <section>
        <div class="container-fluid">
            <div class="row">
                <!-- 侧边栏 -->
                <div class="col-md-3">
                   {{> sidebar}}
                </div>
                <!-- 管理员仪表盘内容 -->
                <div class="col-md-9">
                    <div class="card m-3 p-3">
                        <h4 class="text-center">管理员仪表盘</h4>
                        <hr>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img style="width:130px;height:130px;border-radius:50%" src="/static/image/img/d2.jpg" alt="菜品示例">
                                        <h3 class="my-2 primary-color">今日订单</h3>
                                        <h2 class="primary-color mb-0 pb-2">4352+</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img style="width:130px;height:130px;border-radius:50%" src="/static/image/img/chef.jpg" alt="厨师">
                                        <h3 class="my-2 primary-color">厨师数量</h3>
                                        <h2 class="primary-color mb-0 pb-2">52+</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img style="width:130px;height:130px;border-radius:50%" src="/static/image/img/pizza.jpg" alt="披萨">
                                        <h3 class="my-2 primary-color">在售菜品</h3>
                                        <h2 class="primary-color mb-0 pb-2">432+</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <img style="width:130px;height:130px;border-radius:50%" src="/static/image/img/d1.jpg" alt="菜品示例">
                                        <h3 class="my-2 primary-color">快速派送</h3>
                                        <h2 class="primary-color mb-0 pb-2">42+</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">欢迎来到管理员后台，您可以在此管理菜品、查看订单、管理用户等。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
