<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monthly Report - Sales Report</title>
</head>
<body>
{{> navbar loginUser=loginUser}}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9">
        <div class="card m-3 p-3">
          <h3>Monthly - Sales Report</h3>
          <hr>

          <p>Range: recently 30 days</p>
          <p>Total Order: {{totalOrders}} 单</p>
          <p>Total Sales: {{totalSales}}</p>
          <p>Average Sales: {{avgSales}}</p>

        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
