<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Monthly - Trend and Preference</title>
</head>
<body>
{{> navbar loginUser=loginUser}}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9">
        <div class="card m-3 p-3">
          <h3>Monthly - Trend and Preference</h3>
          <hr>

          <!-- (trendData) -->
          <h5 class="mt-3">Trend(30 days)</h5>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              {{#each trendData}}
              <tr>
                <td>{{this._id}}</td>
                <td>{{this.orderCount}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{#unless trendData.length}}
          <p>最近 30 天暂无订单数据</p>
          {{/unless}}

          <!-- 客户偏好 (preferenceData) -->
          <h5 class="mt-4">Preference(Top5)</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              {{#each preferenceData}}
              <tr>
                <td>{{this._id}}</td>
                <td>{{this.totalQty}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          {{#unless preferenceData.length}}
          <p>Recently 30days no sales</p>
          {{/unless}}

        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
