<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>周报 - 销售报告</title>
</head>
<body>
{{> navbar loginUser=loginUser}}

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        {{> sidebar}}
      </div>
      <div class="col-md-9">
        <div class="card m-3 p-3">
          <h3>周报 - 销售报告</h3>
          <hr>

          <p>统计范围：最近 7 天</p>
          <p>订单总数：{{totalOrders}} 单</p>
          <p>总销售额：￥{{totalSales}}</p>
          <p>平均客单价：￥{{avgSales}}</p>

        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
