<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="/static/js/script.js"></script>

<nav class="navbar navbar-expand-lg bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="/static/image/logo.png" style="height:auto;width:130px" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- 首页 -->
        <li class="nav-item">
          <a class="nav-link" href="/">首页</a>
        </li>
        <!-- 菜品 -->
        <li class="nav-item">
          <a class="nav-link" href="/foods/1">浏览菜品</a>
        </li>
        <!-- 购物车 -->
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="fas fa-shopping-basket"></i>
            <small class="cart-num"></small>
          </a>
        </li>
        {{#if loginUser}}
        <!-- 如果已登录，展示用户名 -->
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">{{loginUser.name}}</a>
        </li>
        {{else}}
        <!-- 未登录 -->
        <li class="nav-item">
          <a class="nav-link" href="/register">注册</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">登录</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- 购物车弹窗 Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">您的购物车</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="关闭"></button>
      </div>
      <div class="modal-body cart-body">
        <!-- 购物车物品通过JS动态渲染 -->
      </div>
      <div class="modal-footer">
        {{#if loginUser}}
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
        <a href="/user/orderFood" type="button" class="btn btn-primary checkout-btn">去结算</a>
        {{else}}
        <small class="text-danger">请先登录后再进行结算</small>
        {{/if}}
      </div>
    </div>
  </div>
</div>