<div class="sidebar bg-dark text-light p-3" style="min-height:100vh;">
    <div class="text-center my-4">
        <!-- difference dashboard -->
        {{#if (eq loginUser.type 'admin')}}
            <h5>Admin</h5>
        {{else if (eq loginUser.type 'employee')}}
            <h5>Staff</h5>
        {{else}}
            <h5>Member</h5>
        {{/if}}
    </div>

    {{#if (eq loginUser.type 'admin')}}
        <div class="mb-3"><a class="text-light" href="/dashboard">Dashboard</a></div>
        <div class="mb-3"><a class="text-light" href="/admin/addDish">Add New Dishes</a></div>
        <div class="mb-3"><a class="text-light" href="/admin/dishMenus/1">Dishes Management</a></div>
        <div class="mb-3"><a class="text-light" href="/admin/adminOrder/1">Orders List</a></div>
    {{/if}}

    {{#if (eq loginUser.type 'employee')}}
        <div class="mb-3"><a class="text-light" href="/employee/dashboard">Dashboard</a></div>
        <div class="mb-3"><a class="text-light" href="/employee/orders/1">Orders Management</a></div>
        <div class="mb-3"><a class="text-light" href="/employee/history/1">history</a></div>
        <div class="mb-3"><a class="text-light" href="/employee/markOutOfStock">Inventory</a></div>
    {{/if}}

   

    <!-- logout -->
    <div class="mt-5">
        <a class="text-light" href="/logout">Logout</a>
    </div>
</div>