<ul class="nav justify-content-center bg-dark p-2 userNavBar">
    <li class="nav-item">
        <a class="nav-link text-light" href="/dashboard">我的主页</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/orders">当前订单</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/orderFood">购物车结算</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/history">历史订单</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/favourites">我的收藏</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/logout">退出登录</a>
    </li>
</ul>