<ul class="nav justify-content-center bg-dark p-2 userNavBar">
    <li class="nav-item">
        <a class="nav-link text-light" href="/dashboard">My Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/orders">My Orders</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/orderFood">Shopping Cart</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/history">History</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/user/favourites">WishList</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" href="/logout">Logout</a>
    </li>
</ul>