<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Dashboard</title>
</head>

<body>
    {{>navbar loginUser=loginUser}}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- Sidebar -->
                    {{>sidebar}}
                </div>
                <div class="col-md-9">
                    <div class="employeePanel card">
                        <div class="text-center my-3">
                            <h3><span class="primary-color">FOODIES</span> Employee Dashboard</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Manage Orders</h5>
                                        <p class="card-text">View and update current orders.</p>
                                        <a href="/employee/orders/1" class="btn btn-primary">Go to Orders</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Order History</h5>
                                        <p class="card-text">View past orders.</p>
                                        <a href="/employee/history/1" class="btn btn-primary">View History</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card mb-3">
                                    <div class="card-body text-center">
                                        <h5 class="card-title">Manage Inventory</h5>
                                        <p class="card-text">Mark dishes as out-of-stock.</p>
                                        <a href="/employee/markOutOfStock" class="btn btn-primary">Manage Inventory</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Additional dashboard widgets can be added here -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
