<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Order - Homepage</title>
</head>

<body>
  {{> navbar loginUser=loginUser}}

  <!-- homepage-->
  <section id="/">
    <div class="container-fluid px-0 top-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <h1>Welcome to Golden Bowl</h1>
            <p>We supoort delicious food for everyone!</p>
            <div class="mt-4">
              <!-- Order button -->
              <button class="main-btn" onclick="window.location.href='/foods/1'">Order Here <i class="fas fa-shopping-basket ps-3"></i></button>
              <!-- Register button -->
              <button class="white-btn" onclick="window.location.href='/register'">Register <i class="fas fa-angle-right ps-3"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About us -->
  <section id="about" class="my-5">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <img src="/static/image/img/img-1.png" class="img-fluid py-2" alt="picture">
        </div>
        <div class="col-md-5 mt-md-5 mt-1">
          <h2>Healthy and tasty</h2>
          <p>Our team of chefs use only the freshest ingredients to present you with dishes that have both flavour and quality.</p>
          <button class="main-btn" onclick="window.location.href='/foods/1'">Menu</button>
        </div>
      </div>
    </div>
  </section>

  <!-- footer -->
  <section id="footer">
    <div class="text-center p-4 bg-light">
      <a href="/register" class="mx-2">Register</a>
      <a href="/login" class="mx-2">Login</a>
      <a href="/foods/1" class="mx-2">Menu</a>
      <br><br>
      <small class="mt-5 text-muted">Copyright © 
        <script>document.write(new Date().getFullYear())</script> 
        Golden Bowl. All rights reserved. Name: YIZHAO  Student ID: 1159023
      </small>
    </div>
  </section>
</body>
</html>