<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    {{> navbar loginUser=loginUser}}

    <section class="container-fluid">
        <div class="register-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 my-5">
                        <div class="register-form p-4 shadow">
                            <div class="text-center">
                                <h2 class="primary-color">Register</h2>
                            </div>
                            <form class="form" action="/saveRegistration" method="post">
                                <div class="mx-2">
                                    <input name="name" class="form-control mt-3" placeholder="Please enter your name" type="text" required>
                                    <input name="email" type="email" placeholder="Please enter email" class="form-control mt-3" required>
                                    <input name="phone" placeholder="Please enter phone number" type="text" class="form-control mt-3" required>
                                    <input name="password" type="password" placeholder="Please enter password" class="form-control mt-3" required>
                                    <textarea name="address" class="form-control mt-3" placeholder="Please enter address" rows="3" required></textarea>

                                    <!-- Only normal / admin / employee  -->
                                    <select name="type" class="form-control mt-3" required>
                                        <option value="normal">Member</option>
                                        <option value="admin">Manager</option>
                                        <option value="employee">Staff</option>
                                    </select>
                                </div>

                                <div class="text-end">
                                    <button type="submit" class="main-btn mt-2 mb-1">Register</button>
                                </div>
                            </form>
                        </div>

                        {{#if registrationError}}
                        <script>
                            Swal.fire({
                                title: 'Registration Failed',
                                text: '{{registrationError}}',
                                icon: 'error',
                                confirmButtonText: 'ok'
                            });
                        </script>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>